* {
  box-sizing: border-box;
}

.startButton {
  display: flex;
  fill: white;
  height: 100%;
  left: 0;
  place-content: center;
  place-items: center;
  position: absolute;
  width: 36px;
  background-color: hsla(0, 2%, 10%, 0.7);
}
.startButton .windowSVG {
  height: 19px;
}

.startButton:hover {
  background-color: hsla(0, 0%, 25%, 70%);
}

.startButton:hover .windowSVG {
  fill: #76b9ed;
}

.taskbar {
  backdrop-filter: 5px;
  background-color: rgba(0, 0, 0, 60%);
  height: 30px;
  width: 100vw;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.clock {
  background-color: green;
  height: 100%;
  width: 76px;
  position: absolute;
  right: 0;
  display: flex;
  place-content: center;
  place-items: center;
  font-size: 12px;
  color: rgba(255, 255, 255, 80%);
}

.clock:hover {
  background-color: hsla(0, 0%, 25%, 70%);
}
