/* stylelint-disable no-descending-specificity */
* {
  box-sizing: border-box;
}
/* styledDesktop */
.heroContainer {
  height: 100vh;
  width: 100vw;
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* taskbar */
.startButton {
  display: flex;
  fill: white;
  height: 100%;
  left: 0;
  place-content: center;
  place-items: center;
  position: absolute;
  width: 36px;
  background-color: hsla(0, 2%, 10%, 0.7);
}
.startButton .windowSVG {
  height: 19px;
}

.startButton:hover {
  background-color: hsla(0, 0%, 25%, 70%);
}

.startButton:hover .windowSVG {
  fill: #76b9ed;
}

.taskbar {
  backdrop-filter: 5px;
  background-color: rgba(0, 0, 0, 60%);
  height: 30px;
  width: 100vw;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.clock {
  height: 100%;
  width: 76px;
  position: absolute;
  right: 0;
  display: flex;
  place-content: center;
  place-items: center;
  font-size: 12px;
  color: rgba(255, 255, 255, 80%);
}

.clock:hover {
  background-color: hsla(0, 0%, 25%, 70%);
}

/* window */
.titlebarHeader {
  background-color: #000;
  display: flex;
}

.titlebarHeader h1 {
  color: #fff;
  display: flex;
  flex-grow: 1;
  font-size: 11.5px;
  font-weight: normal;
  height: 29px;
}

.titlebarHeader h1 figure {
  align-items: center;
  display: flex;
}

.titlebarHeaderr h1 figure img {
  height: 16px;
  margin: 0 8px;
  width: 16px;
}

.titlebarHeader nav {
  display: flex;
}

.titlebarHeader nav button {
  display: flex;
  place-content: center;
  place-items: center;
  width: 45px;
}

.titlebarHeader nav button:hover {
  background-color: rgb(26, 26, 26);
}

.cancel:hover .close:hover {
  background-color: rgb(232, 17, 35);
}

.titlebarHeader nav button svg {
  fill: #fff;
  width: 10px;
}

.window {
  background-color: #202020;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 50%);
  /* height: 100%; */
  outline: 1px solid rgba(0, 0, 0, 25%);
  position: absolute;
  width: 100%;
  display: none;
  overflow: hidden;
}

/* taskbar */
.taskbarEntry {
  border-bottom: 2px solid #76b9ed;
  display: flex;
  height: 100%;
  max-width: 130px;
  width: 130px;
  min-width: 0;
  margin: 0 4px;
}

/* stylelint-disable-next-line no-descending-specificity */
.taskbarEntry figure {
  align-items: center;
  display: flex;
}

.taskbarEntry figure figcaption {
  color: rgba(255, 255, 255, 80%);
  font-size: 12px;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* stylelint-disable-next-line no-descending-specificity */
.taskbarEntry figure img {
  height: 16px;
  margin: 0 5px;
  width: 16px;
}

.taskbarEntry:hover {
  background-color: hsla(0, 0%, 25%, 70%);
}

.taskbarEntries {
  display: flex;
  height: 100%;
  position: absolute;
  left: 36px;
  right: 76px;
  column-gap: 1px;
  margin: 0 3px;
}

/* file manager organise */
.fileManager {
  display: grid;
  grid-template-columns: repeat(auto-fill, 74px);
  grid-template-rows: repeat(auto-fill, 70px);
  grid-auto-flow: column;
  height: calc(100% - 70px);
  column-gap: 1px;
  row-gap: 28px;
  padding: 5px 0;
}

/* file icon style */
.fileEntry {
  padding: 2px;
  display: flex;
  justify-content: center;
  height: fit-content;
}

.fileEntry figure figcaption {
  color: rgba(255, 255, 255, 80%);
  font-size: 12px;
  text-shadow:
    1px 1px 2px rgba(0, 0, 0, 0.8),
    /* Dark shadow effect */ -1px -1px 1px rgba(0, 0, 0, 0.3); /* Additional light shadow for contrast */
}

.fileEntry button figure img {
  height: 48px;
  width: 48px;
  margin: 0 auto;
}

.fileEntry:hover {
  background-color: rgba(0, 120, 215, 0.3);
}

/* fullscreen */
.fullscreen {
  position: relative;
  height: calc(100% - 30px);
}

.titlebarContainer {
  height: 100%;
}

/* folders stuff */
.folderFileManager {
  display: grid;
  column-gap: 15px;
  grid-template-columns: repeat(auto-fill, 74px);
  grid-template-rows: repeat(auto-fill, 70px);
  height: calc(100% - 30px);
  padding: 5px 10px;
  row-gap: 28px;
  grid-auto-flow: row;
}

/* JS-DOS */
.canvas {
  height: calc(100% - 40px);
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  width: 100%;
}

#dos {
  height: 100%;
  top: 0 !important;
  width: 100%;
  /* display: none; */
}

.jsdos-rso .sidebar {
  display: none !important;
}

.background-image {
  display: none;
}

.relative {
  flex: none;
}

.window .flex {
  display: block;
}

.canvas .window {
  display: block;
}

/* startMenu */
.startMenu {
  backdrop-filter: blur(12px);
  background-color: hsla(0, 0%, 12%, 70%);
  bottom: 30px;
  height: 390px;
  left: 0;
  position: absolute;
  width: 320px;
  z-index: 1000;
  display: flex;
  flex-direction: row;
  padding-right: 7px;
}

.startListFileManager {
  display: flex;
  flex-direction: column;
  height: calc(100% - 70px);
  margin-left: 7px;
  overflow: hidden auto;
  margin-top: 0px;
  padding-bottom: 24px;
  padding-top: 7px;
  width: 100%;
  overflow: hidden;
}

/* stuff */
/* Base styles for the file entry */
.startFileEntry {
  display: flex;
  height: min-content;
  padding: 2px;
  width: 100%;
}

/* Styles for hover and focus-within states */
.startFileEntry:focus-within,
.startFileEntry:hover {
  border: 2px solid transparent;
  padding: 0;
  position: relative;
}

/* Pseudo-element styles for hover and focus-within states */
.startFileEntry:focus-within::before,
.startFileEntry:hover::before {
  content: '';
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
}

/* Button inside the file entry */
.startFileEntry button {
  position: relative;
}

/* Figure inside the button */
.startFileEntry button figure {
  display: flex;
  flex-direction: row;
  margin-bottom: -3px;
  place-items: center;
  gap: 10px;
}

/* Figcaption inside the figure */
.startFileEntry button figure figcaption {
  -webkit-box-orient: vertical;
  color: '#FFF';
  font-size: 12px;
  letter-spacing: -0.1px;
  line-height: 15px;
  margin: 1px 0;
  overflow: hidden;
  padding: 2px;
  /*text-shadow:  Replace with actual shadow */
  word-break: break-word;
}

/* Image inside the figure */
.startFileEntry button figure img {
  width: 48px; /* Replace with actual icon size */
}

/* Hover state for the file entry */
.startFileEntry:hover {
  background-color: hsl(207deg 30% 72% / 25%); /* Replace with color */
}

/* Border for the pseudo-element in hover state */
.startFileEntry:hover::before {
  border: 1px solid hsl(207deg 30% 72% / 30%); /* Replace with actual color */
}

/* Focus-within state for the file entry */
.startFileEntry:focus-within {
  background-color: hsl(207deg 60% 72% / 30%);
  /* Replace with color */
  z-index: 1;
}

/* Border for the pseudo-element in focus-within state */
.startFileEntry:focus-within::before {
  border: 1px solid hsl(207deg 60% 72% / 35%); /* Replace with color */
}

/* Hover state within focus-within state */
.startFileEntry:focus-within:hover {
  background-color: hsl(207deg 90% 72% / 35%); /* Replace */
}

/* Border for the pseudo-element in hover state within focus-within state */
.startFileEntry:focus-within:hover::before {
  border: 1px solid hsl(207deg 90% 72% / 40%); /* Replace */
}

/* start Menu file entry icon style */
.startMenuFileEntry {
  padding: 2px;
  display: flex;
  justify-content: center;
  height: fit-content;
}

.startMenuFileEntry figure figcaption {
  color: rgba(255, 255, 255, 80%);
  font-size: 12px;
  text-shadow:
    1px 1px 2px rgba(0, 0, 0, 0.8),
    /* Dark shadow effect */ -1px -1px 1px rgba(0, 0, 0, 0.3); /* Additional light shadow for contrast */
}

.startMenuFileEntry button figure img {
  height: 40px;
  width: 40px;
  margin: 0 auto;
}

.startMenuSidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-right: 7px;
  margin-top: 4px;
}

/* Base styles for the element */
.startMenuSidebarIcon {
  border: 1px solid transparent;
  display: flex;
  height: 48px;
  place-content: center;
  place-items: center;
  width: 48px;
  position: relative; /* Needed for the ::before pseudo-element */
}

/* Pseudo-element styles */
.startMenuSidebarIcon::before {
  border-left: 4px solid transparent; /* Replace with actual default color if needed */
  content: '';
  height: 48px;
  position: absolute;
  width: 48px;
}

/* SVG inside the figure */
.startMenuSidebarIcon img {
  height: 16px;
  margin-bottom: -1px;
  margin-left: 1px;
  width: 16px;
}

/* Hover state */
.startMenuSidebarIcon:hover {
  background-color: hsla(0, 0%, 35%, 0.7);
  border: 1px solid hsla(0, 0%, 45%, 0.7);
}
