* {
  box-sizing: border-box;
}
/* styledDesktop */
.heroContainer {
  height: 100vh;
  width: 100vw;
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* taskbar */
.startButton {
  display: flex;
  fill: white;
  height: 100%;
  left: 0;
  place-content: center;
  place-items: center;
  position: absolute;
  width: 36px;
  background-color: hsla(0, 2%, 10%, 0.7);
}
.startButton .windowSVG {
  height: 19px;
}

.startButton:hover {
  background-color: hsla(0, 0%, 25%, 70%);
}

.startButton:hover .windowSVG {
  fill: #76b9ed;
}

.taskbar {
  backdrop-filter: 5px;
  background-color: rgba(0, 0, 0, 60%);
  height: 30px;
  width: 100vw;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.clock {
  height: 100%;
  width: 76px;
  position: absolute;
  right: 0;
  display: flex;
  place-content: center;
  place-items: center;
  font-size: 12px;
  color: rgba(255, 255, 255, 80%);
}

.clock:hover {
  background-color: hsla(0, 0%, 25%, 70%);
}

/* window */
.titlebarHeader {
  background-color: #000;
  display: flex;
}

.titlebarHeader h1 {
  color: #fff;
  display: flex;
  flex-grow: 1;
  font-size: 11.5px;
  font-weight: normal;
  height: 29px;
}

.titlebarHeader h1 figure {
  align-items: center;
  display: flex;
}

.titlebarHeaderr h1 figure img {
  height: 16px;
  margin: 0 8px;
  width: 16px;
}

.titlebarHeader nav {
  display: flex;
}

.titlebarHeader nav button {
  display: flex;
  place-content: center;
  place-items: center;
  width: 45px;
}

.titlebarHeader nav button:hover {
  background-color: rgb(26, 26, 26);
}

.cancel:hover .close:hover {
  background-color: rgb(232, 17, 35);
}

.titlebarHeader nav button svg {
  fill: #fff;
  width: 10px;
}

.window {
  background-color: grey;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 50%);
  /* height: 100%; */
  outline: 1px solid rgba(0, 0, 0, 25%);
  position: absolute;
  width: 100%;
  display: none;
  overflow: hidden;
}

/* taskbar */
.taskbarEntry {
  border-bottom: 2px solid #76b9ed;
  display: flex;
  height: 100%;
  max-width: 130px;
  width: 130px;
  min-width: 0;
  margin: 0 4px;
}

/* stylelint-disable-next-line no-descending-specificity */
.taskbarEntry figure {
  align-items: center;
  display: flex;
}

.taskbarEntry figure figcaption {
  color: rgba(255, 255, 255, 80%);
  font-size: 12px;
}

/* stylelint-disable-next-line no-descending-specificity */
.taskbarEntry figure img {
  height: 16px;
  margin: 0 5px;
  width: 16px;
}

.taskbarEntry:hover {
  background-color: hsla(0, 0%, 25%, 70%);
}

.taskbarEntries {
  display: flex;
  height: 100%;
  position: absolute;
  left: 36px;
  right: 76px;
  column-gap: 1px;
  margin: 0 3px;
}

/* file manager organise */
.fileManager {
  display: grid;
  grid-template-columns: repeat(auto-fill, 74px);
  grid-template-rows: repeat(auto-fill, 70px);
  grid-auto-flow: column;
  height: calc(100% - 70px);
  column-gap: 1px;
  row-gap: 28px;
  padding: 5px 0;
}

/* file icon style */
.fileEntry {
  padding: 2px;
  display: flex;
  justify-content: center;
}

.fileEntry figure figcaption {
  color: rgba(255, 255, 255, 80%);
  font-size: 12px;
  text-shadow:
    1px 1px 2px rgba(0, 0, 0, 0.8),
    /* Dark shadow effect */ -1px -1px 1px rgba(0, 0, 0, 0.3); /* Additional light shadow for contrast */
}

.fileEntry button figure img {
  height: 48px;
  width: 48px;
}

.fileEntry:hover {
  background-color: rgba(0, 120, 215, 0.3);
}

/* fullscreen */
.fullscreen {
  position: relative;
  height: calc(100% - 30px);
}
