/* stylelint-disable no-descending-specificity */
* {
  box-sizing: border-box;
}
/* styledDesktop */
.heroContainer {
  height: 100vh;
  width: 100vw;
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* taskbar */
.startButton {
  display: flex;
  fill: white;
  height: 100%;
  left: 0;
  place-content: center;
  place-items: center;
  position: absolute;
  width: 36px;
  background-color: hsla(0, 2%, 10%, 0.7);
}
.startButton .windowSVG {
  height: 19px;
}

.startButton:active {
  background-color: hsla(0, 0%, 40%, 70%);
}

.startButton:hover {
  background-color: hsla(0, 0%, 25%, 70%);
}

.startButton:hover .windowSVG {
  fill: #76b9ed;
}

.taskbar {
  backdrop-filter: 5px;
  background-color: rgba(0, 0, 0, 60%);
  height: 30px;
  width: 100vw;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.clock {
  height: 100%;
  width: 70px;
  position: absolute;
  right: 0;
  display: flex;
  place-content: center;
  place-items: center;
  font-size: 12px;
  color: rgba(255, 255, 255, 80%);
}

.clock:hover {
  background-color: hsla(0, 0%, 25%, 70%);
}

/* window */
.titlebarHeader {
  background-color: #000;
  display: flex;
  height: 35px;
  align-items: center;
  justify-content: center;
}

.titlebarHeader h1 {
  color: #fff;
  display: flex;
  flex-grow: 1;
  font-size: 12px;
  font-weight: normal;
  height: 29px;
  margin: 0;
}

.titlebarHeader h1 figure {
  align-items: center;
  display: flex;
  margin-left: 8px;
}

.titlebarHeaderr h1 figure img {
  height: 16px;
  margin: 0 8px;
  width: 16px;
}

.titlebarHeader nav {
  display: flex;
  height: 33px;
}

.titlebarHeader nav button {
  display: flex;
  place-content: center;
  place-items: center;
  width: 45px;
}

.titlebarHeader nav button:hover {
  background-color: rgb(26, 26, 26);
}

.cancel:hover .close:hover {
  background-color: rgb(232, 17, 35);
}

.titlebarHeader nav button svg {
  fill: #fff;
  width: 10px;
}

.window {
  background-color: #202020;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 50%);
  /* height: 100%; */
  outline: 1px solid rgba(0, 0, 0, 25%);
  position: absolute;
  width: 100%;
  display: none;
  overflow: hidden;
  display: flex !important;
  flex-direction: column;
}

/* taskbar */
.taskbarEntry {
  border-bottom: 2px solid #76b9ed;
  display: flex;
  min-width: 20px;
  height: 100%;
  max-width: 130px;
  width: 130px;
  overflow: hidden;
  margin-right: 2px;
}

@media screen and (min-width: 768px) {
  .taskbarEntry {
    margin-right: 4px;
  }
}

/* stylelint-disable-next-line no-descending-specificity */
.taskbarEntry figure {
  align-items: center;
  display: flex;
}

.taskbarEntry figure figcaption {
  color: rgba(255, 255, 255, 80%);
  font-size: 12px;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* stylelint-disable-next-line no-descending-specificity */
.taskbarEntry figure img {
  height: 16px;
  margin: 0 5px;
  width: 16px;
}

.taskbarEntry:hover {
  background-color: hsla(0, 0%, 25%, 70%);
}

.taskbarEntries {
  display: flex;
  height: 100%;
  position: absolute;
  left: 36px;
  right: 63px;
  column-gap: 1px;
  margin: 0 3px;
  overflow-x: auto;
}

/* file manager organise */
.fileManager {
  display: grid;
  grid-template-columns: repeat(auto-fill, 74px);
  grid-template-rows: repeat(auto-fill, 70px);
  grid-auto-flow: column;
  height: calc(100% - 70px);
  column-gap: 1px;
  row-gap: 28px;
  padding: 5px 0;
}

.fileManager div:nth-child(1) {
  grid-column: 1; /* First column */
  grid-row: 1; /* First box */
}

.fileManager div:nth-child(2) {
  grid-column: 1;
  grid-row: 2;
}

.fileManager div:nth-child(3) {
  grid-column: 1;
  grid-row: 3;
}

.fileManager div:nth-child(4) {
  grid-column: 1;
  grid-row: 4;
}

.fileManager div:nth-child(5) {
  grid-column: 2; /* Second column */
  grid-row: 1; /* First box in the second column */
}

.fileManager div:nth-child(6) {
  grid-column: 2;
  grid-row: 2;
}

.fileManager div:nth-child(7) {
  grid-column: 2;
  grid-row: 3;
}

/* file icon style */
.fileEntry {
  padding: 2px;
  display: flex;
  justify-content: center;
  height: fit-content !important;
  position: relative !important;
}

.fileEntry figure figcaption {
  color: rgba(255, 255, 255, 80%);
  font-size: 12px;
  text-shadow:
    1px 1px 2px rgba(0, 0, 0, 0.8),
    /* Dark shadow effect */ -1px -1px 1px rgba(0, 0, 0, 0.3); /* Additional light shadow for contrast */
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  width: 66px;
  margin-top: 5px;
}

.fileEntry button figure img {
  height: 48px;
  width: 48px;
  margin: 0 auto;
}

.fileEntry:hover {
  background-color: rgba(255, 255, 255, 0.1);
  outline: 1px solid rgba(255, 255, 225, 0.5);
}

/* Disable hover styles for touch devices */
.fileManager.touchDevice .fileEntry:hover {
  background-color: unset;
  transform: unset;
  box-shadow: unset;
  cursor: default;
}

.fileManager.touchDevice .fileEntry.hovered {
  background-color: rgba(255, 255, 255, 0.1);
  outline: 1px solid rgba(255, 255, 225, 0.5);
}

/* Temporary background change when an icon is opened */
.fileEntry.opened {
  background-color: rgba(0, 120, 215, 0.3); /* Change to desired color */
  outline: 1px solid rgba(255, 255, 225, 0.596);
}

.fileManager.touchDevice .fileEntry.opened {
  background-color: rgba(0, 120, 215, 0.3); /* Change to desired color */
  outline: 1px solid rgba(255, 255, 225, 0.596);
}

/* fullscreen */
.fullscreen {
  position: relative;
  height: calc(100% - 30px);
}

.titlebarContainer {
  height: 100%;
}

/* folders stuff */
.folderFileManager {
  display: grid;
  grid-template-columns: repeat(auto-fill, 74px);
  grid-template-rows: repeat(auto-fill, 70px);
  height: calc(100% - 100px);
  row-gap: 28px;
  grid-auto-flow: row;
  overflow-y: auto;
  overflow-x: hidden;
  column-gap: 2px;
  padding: 6px 6px 6px 14px;
}

.folderFileManager li {
  display: flex;
  height: min-content;
  outline-offset: -2px;
  padding: 2px;
}

.folderFileManager figure {
  display: flex;
  flex-direction: column;
  margin-bottom: -2px;
  place-items: center;
}

.folderFileManager figure img {
  height: 48px;
  width: 48px;
}

.folderFileManager figure figcaption {
  padding: 1px 0px 2px;
  color: rgb(255, 255, 255);
  font-size: 12px;
  line-height: 1.2;
  margin: 1px 0px;
}

.folderFileManagerList {
  height: calc(100% - 100px);
  overflow-y: auto;
  overflow-x: hidden;
  margin-left: 14px;
}

.fileManagerList {
  display: flex;
  height: 25px;
}

.fileManagerList li:first-child {
  min-width: 133px;
}

.name {
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  top: -1px;
  white-space: nowrap;
  color: rgb(222, 222, 222);
  display: flex;
  font-size: 12px;
  padding-left: 17px;
}

.fileListHeader {
  display: flex;
  align-items: center;
  position: relative;
}

.resize {
  background-color: rgb(99, 99, 99);
  cursor: col-resize;
  height: 25px;
  padding-left: 1px;
  position: absolute;
  right: -1px;
  z-index: 1;
  width: 1px;
}

.fileManagerList li:nth-child(1) {
  min-width: 133px;
}

.fileManagerList li:nth-child(2) {
  min-width: 133px;
}

.fileManagerList li:nth-child(3) {
  min-width: 100px;
}

.fileManagerList li:nth-child(4) {
  width: 90px;
}

.fileListItem {
  margin-bottom: -1px;
  margin-left: 1px;
  width: fit-content;
  outline: 1px solid green;
}

.fileListItem button {
  display: flex;
  padding-left: 4px;
  text-align: left;
  background-color: transparent;
  font-family: inherit;
  width: 100%;
}

.fileListItem button figure {
  max-width: 133px;
  min-width: 133px;
  bottom: 1px;
  display: flex;
  flex-direction: row;
  height: 22px;
  padding-right: 16px;
  place-items: center;
  position: relative;
}

.fileListItem button figure figcaption {
  color: rgb(255, 255, 255);
  font-size: 12px;
  overflow: hidden;
  padding-left: 4px;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-word;
}

.fileListItemDetails {
  display: flex;
  font-size: 12px;
  height: 22px;
  place-items: center;
}

.fileListItemDetails div {
  color: rgb(222, 222, 222);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dateMod {
  width: 133px;
}

.type {
  width: 100px;
}

.width {
  width: 90px;
}

.size {
  width: 79px;
  text-align: end;
}
/* JS-DOS */
.canvas {
  height: calc(100% - 40px);
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  width: 100%;
}

#dos {
  height: 100%;
  top: 0 !important;
  width: 100%;
  /* display: none; */
}

.jsdos-rso .sidebar {
  display: none !important;
}

.background-image {
  display: none;
}

.relative {
  flex: none;
}

.window .flex {
  display: block;
}

.canvas .window {
  display: block;
}

/* startMenu */
.startMenu {
  backdrop-filter: blur(12px);
  background-color: hsla(0, 0%, 10%, 75%);
  box-shadow: 3px 0 10px 3px hsla(0, 0%, 10%, 50%);
  bottom: 30px;
  height: 390px;
  left: 0;
  position: absolute;
  width: 320px;
  z-index: 1000;
  display: flex;
  flex-direction: row;
  padding-right: 7px;
}

.startListFileManager {
  display: flex;
  flex-direction: column;
  height: calc(100% - 70px);
  margin-left: 7px;
  overflow: hidden auto;
  margin-top: 0px;
  padding-bottom: 24px;
  padding-top: 7px;
  width: 100%;
  overflow: hidden;
}

/* stuff */
/* Base styles for the file entry */
.startFileEntry {
  display: flex;
  height: 40px;
  padding: 2px;
  width: 100%;
  align-items: center;
}

/* Styles for hover and focus-within states */
.startFileEntry:focus-within,
.startFileEntry:hover {
  border: 2px solid transparent;
  padding: 0;
  position: relative;
}

/* Pseudo-element styles for hover and focus-within states */
.startFileEntry:focus-within::before,
.startFileEntry:hover::before {
  content: '';
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
}

/* Button inside the file entry */
.startFileEntry button {
  position: relative;
  height: 30px;
}

/* Figure inside the button */
.startFileEntry button figure {
  display: flex;
  flex-direction: row;
  place-items: center;
  gap: 5px;
}

/* Figcaption inside the figure */
.startFileEntry button figure figcaption {
  -webkit-box-orient: vertical;
  color: '#FFF';
  font-size: 13px;
  letter-spacing: -0.1px;
  line-height: 15px;
  margin: 1px 0;
  overflow: hidden;
  padding: 2px;
}

/* Image inside the figure */
.startFileEntry button figure img {
  width: 48px; /* Replace with actual icon size */
}

/* Hover state for the file entry */
.startFileEntry:hover {
  background-color: hsl(207deg 30% 72% / 25%); /* Replace with color */
}

/* Border for the pseudo-element in hover state */
.startFileEntry:hover::before {
  border: 1px solid hsl(207deg 30% 72% / 30%); /* Replace with actual color */
}

/* Focus-within state for the file entry */
.startFileEntry:focus-within {
  background-color: hsl(207deg 60% 72% / 30%);
  /* Replace with color */
  z-index: 1;
}

/* Border for the pseudo-element in focus-within state */
.startFileEntry:focus-within::before {
  border: 1px solid hsl(207deg 60% 72% / 35%); /* Replace with color */
}

/* Hover state within focus-within state */
.startFileEntry:focus-within:hover {
  background-color: hsl(207deg 90% 72% / 35%); /* Replace */
}

/* Border for the pseudo-element in hover state within focus-within state */
.startFileEntry:focus-within:hover::before {
  border: 1px solid hsl(207deg 90% 72% / 40%); /* Replace */
}

/* start Menu file entry icon style */
.startMenuFileEntry {
  padding: 2px;
  display: flex;
  justify-content: center;
  height: fit-content;
}

.startMenuFileEntry figure figcaption {
  color: rgba(255, 255, 255, 80%);
  font-size: 12px;
  text-shadow:
    1px 1px 2px rgba(0, 0, 0, 0.8),
    /* Dark shadow effect */ -1px -1px 1px rgba(0, 0, 0, 0.3); /* Additional light shadow for contrast */
}

.startMenuFileEntry button figure img {
  height: 30px;
  width: 30px;
  margin: 0 auto;
}

.startMenuSidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

/* Base styles for the element */
.startMenuSidebarIcon {
  border: 1px solid transparent;
  display: flex;
  height: 48px;
  place-content: center;
  place-items: center;
  width: 48px;
  position: relative; /* Needed for the ::before pseudo-element */
}

/* Pseudo-element styles */
.startMenuSidebarIcon::before {
  border-left: 4px solid transparent; /* Replace with actual default color if needed */
  content: '';
  height: 48px;
  position: absolute;
  width: 48px;
}

/* SVG inside the figure */
.startMenuSidebarIcon img {
  height: 16px;
  margin-bottom: -1px;
  margin-left: 1px;
  width: 16px;
}

/* Hover state */
.startMenuSidebarIcon:hover {
  background-color: hsla(0, 0%, 35%, 0.7);
  border: 1px solid hsla(0, 0%, 45%, 0.7);
}

/* TinyMCE editor */
.TinyMCEEditor {
  height: 100%;
}

.tox-tinymce {
  border-radius: 0px !important;
}

/* Styles for elements with role="application" inside TinyMCEEditor */
.TinyMCEEditor [role='application'] {
  height: 100% !important;
}

.TinyMCEEditor [role='application'] button:disabled {
  pointer-events: none;
}

.TinyMCEEditor [role='application'][aria-disabled='true'] .tox-editor-header {
  cursor: not-allowed;
}

/* scrollbar css */
.customScrollbar::-webkit-scrollbar {
  height: 17px;
  width: 17px;
}

.customScrollbar::-webkit-scrollbar-corner,
.customScrollbar::-webkit-scrollbar-track {
  background-color: rgb(23, 23, 23);
}

.customScrollbar::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  background-color: rgb(77, 77, 77);
}

.customScrollbar::-webkit-scrollbar-thumb:vertical {
  background-clip: padding-box;
  background-color: rgb(77, 77, 77);
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
}

.customScrollbar::-webkit-scrollbar-thumb:horizontal {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
}

/* Hover effect for the scrollbar thumb */
.customScrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgb(122, 122, 122);
}

.customScrollbar::-webkit-scrollbar-thumb:active {
  background-color: rgb(166, 166, 166);
}

/* Optional: Style the corner where horizontal and vertical scrollbars meet */
.customScrollbar::-webkit-scrollbar-corner {
  background: #f1f1f1;
}

.customScrollbar::-webkit-scrollbar-button:single-button {
  background-clip: padding-box;
  background-color: rgb(23, 23, 23);
  background-position: center 4px;
  background-repeat: no-repeat;
  background-size: 10px;
  border: 1px solid rgb(23, 23, 23);
  display: block;
}

.customScrollbar::-webkit-scrollbar-button:single-button:hover {
  background-color: rgb(55, 55, 55);
}

.customScrollbar::-webkit-scrollbar-button:single-button:active {
  background-color: rgb(166, 166, 166);
}

.customScrollbar::-webkit-scrollbar-button:single-button:vertical:decrement {
  background-image: url('/icons/up.png');
  border-bottom: 0;
  border-top: 0;
}

.customScrollbar::-webkit-scrollbar-button:single-button:vertical:increment {
  background-image: url('/icons/down.png');
  border-bottom: 0;
  border-top: 0;
}

.customScrollbar::-webkit-scrollbar-button:single-button:horizontal:decrement {
  background-image: url('/icons/left.png');
  border-bottom: 0;
  background-position: 3px center;
  border-left: 0;
  border-right: 0;
}

.customScrollbar::-webkit-scrollbar-button:single-button:horizontal:increment {
  background-image: url('/icons/right.png');
  background-position: 4px center;
  border-left: 0;
  border-right: 0;
}

.customScrollbar::-webkit-scrollbar-button:single-button:vertical:decrement:active {
  background-image: url('/icons/up.png');
}

.customScrollbar::-webkit-scrollbar-button:single-button:vertical:increment:active {
  background-image: url('/icons/down.png');
}

.customScrollbar::-webkit-scrollbar-button:single-button:horizontal:decrement:active {
  background-image: url('/icons/left.png');
}

.customScrollbar::-webkit-scrollbar-button:single-button:horizontal:increment:active {
  background-image: url('/icons/right.png');
}

/* Portfolio */
.Portfolio {
  overflow: auto;
  margin: 0;
  height: calc(100% - 100px);
}

/* Navigation container <<>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
.customNavigation {
  background-color: rgb(25, 25, 25);
  display: flex;
  height: 43px;
  margin-top: -1px;
}

/* Button styles */
.customNavigation button {
  height: 16px;
  margin: 13px 9px;
  width: 16px;
}

.customNavigation button svg {
  color: #fff;
  fill: currentColor;
  height: 16px;
  width: 16px;
}

/* Hover and active states for svg inside button */
.customNavigation button svg:hover {
  color: rgb(50, 152, 254);
  transition: fill 0.5s ease;
}

.customNavigation button svg:active {
  color: rgb(54, 116, 178);
  transition: none;
}

/* Special styling for buttons with title starting with 'Up' */
.customNavigation button[title^='up'] {
  margin-right: 8px;
  position: relative;
}

/* Special styling for button with title 'Recent locations' */
.customNavigation button[title='recentLocations'] {
  left: 56px;
  position: absolute;
}

.customNavigation button[title='recentLocations'] svg {
  stroke: currentColor;
  stroke-width: 3px;
  width: 6px;
}

/* Disabled button styles */
.customNavigation button:disabled svg {
  color: rgb(140, 140, 140);
}

.customNavigation button:disabled svg:hover,
.customNavigation button:disabled svg:active {
  color: rgb(140, 140, 140);
}

/* Last child button styles */
.customNavigation button:last-child {
  background: transparent;
  height: 28px;
  margin-top: 6px;
  margin-right: 0;
  position: absolute;
  right: 13px;
  stroke: rgb(128, 128, 128);
  stroke-width: 3;
  top: calc(var(--title-bar-height) + 6px);
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.customNavigation button:last-child:hover {
  background-color: rgb(27, 41, 49);
  border: 1px solid rgb(34, 114, 153);
}

.customNavigation button:last-child:active {
  background-color: rgb(28, 57, 71);
  border: 1px solid rgb(38, 160, 218);
}

/* addressBar */
.addressBar {
  background-color: rgb(25, 25, 25);
  background-image: var(--address-bar-icon);
  background-position: 2px 5px;
  background-repeat: no-repeat;
  border: 1px solid rgb(83, 83, 83);
  color: #fff;
  font-family: var(--system-font);
  font-size: 12px;
  font-weight: 400;
  height: 30px;
  margin: 6px 12px 6px 0px;
  padding: 0 10px 2px 10px;
  text-overflow: ellipsis;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.addressBar svg {
  height: 16px;
  width: 16px;
  fill: #23a6d5;
}

.textItem {
  margin-right: 5px;
}

.directoryImg {
  margin-right: 6px;
}

/* status bar */
.statusBar {
  display: flex;
  align-items: center;
  background-color: rgb(51, 51, 51);
  color: #fff;
  font-size: 12px;
  font-weight: 100;
  height: 23px;
  padding: 0 5px;
  width: 100%;
  position: relative; /* Ensures that absolute positioning within children is relative to this container */
}

.statusBar div {
  display: flex;
  align-items: center;
  margin-top: -1px;
  padding: 0 10px;
  position: relative; /* Needed for ::after pseudo-element positioning */
}

.statusBar div::after {
  content: '';
  position: static;
  bottom: 6px;
  height: 11px;
  border-right: 1px solid #fff;
  margin-left: 10px;
}

.titleIconSize {
  width: 18px;
  height: 18px;
  margin-right: 6px;
}

/* Resume */

.pdfReader {
  margin: 0 auto;
}

.toolbar {
  background-color: rgb(50, 54, 57);
  box-shadow: 0 0 5px hsla(0, 0%, 10%, 50%);
  display: flex;
  height: 40px;
  width: 100%;
}

.toolbar ol {
  display: flex;
  flex-direction: row;
  height: 100%;
  place-content: center;
  place-items: center;
  width: 100%;
}

.pages {
  letter-spacing: 1.5px;
  line-height: 20px;
  padding-right: 10px;
  width: max-content;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  font-size: 14px;
}

.pages::after {
  background-color: rgb(112, 115, 117);
  content: '';
  margin-left: 20px;
  width: 1px;
}

.controls {
  display: flex;
  gap: 20px;
}

.toolbar ol li {
  display: flex;
  place-content: center;
  place-items: center;
  color: rgb(255, 255, 255);
  letter-spacing: 1.5px;
  line-height: 20px;
}

.zoomOut button,
.zoomIn button {
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.zoomOut svg,
.zoomIn svg {
  fill: rgb(255, 255, 255);
}

.zoomIn :hover,
.zoomOut :hover {
  border-radius: 50%;
  background-color: rgb(66, 70, 73);
}

.zoomPercentage {
  background-color: #202020;
  height: fit-content;
  padding: 5px;
}

.pdfContainer {
  overflow-y: auto;
}

.zoomPercentage {
  font-size: 16px;
  margin: 0;
}

.leftMenu {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  margin-left: 16px;
}

.rightMenu {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  margin-right: 16px;
}

.rightMenu a {
  padding: 5px;
}

.rightMenu a:hover {
  background-color: rgb(66, 70, 73);
}

.Resume {
  display: flex;
  flex-direction: column;
  height: calc(100% - 40px);
}

.toolbar {
  background-color: rgb(50, 54, 57);
  box-shadow: 0 0 5px hsla(0, 0%, 10%, 50%);
  display: flex;
  height: 40px; /* Fixed height */
  width: 100%;
  z-index: 1;
}

.pdfContainer {
  flex: 1; /* Take up remaining vertical space */
  overflow: auto; /* Enable both horizontal and vertical scrolling */
  position: relative; /* Ensure proper positioning for zoomed content */
}

.pdfReader canvas {
  display: block;
  margin: 0 auto; /* Center the canvas */
  /* No restrictions on width/height for zooming */
}

/* loader */
.loading-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.spinner {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #228cdd;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-screen p {
  margin-top: 10px;
  font-size: 16px;
  color: #228cdd;
}

/* nav bar */
.inactive {
  fill: rgb(128, 128, 128) !important;
}

button.hoveredCancel {
  background-color: rgb(232, 17, 35); /* Example color */
  transition: background-color 0.3s ease;
}

.viewStyle {
  display: flex;
  position: absolute;
  right: 4px;
}

/* titlebar */
button.hoveredMin,
button.hoveredMax {
  background-color: rgba(255, 255, 255, 0.1);
  outline: 1px solid rgba(255, 255, 225, 0.5);
}

.viewStyle button:hover {
  background-color: rgb(77, 77, 77);
  border: 1px solid rgb(99, 99, 99);
}

.viewStyle button.active {
  background-color: rgb(102, 102, 102);
  border: 1px solid rgb(131, 131, 131);
}

.viewStyle button {
  border: 1px solid transparent;
  display: flex;
  height: 23px;
  place-content: center;
  place-items: center;
  width: 22px;
}

.fileListHeader button {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
}

.fileListHeader:hover {
  background-color: rgb(67, 67, 67);
}
